{% extends "site/layout.html.twig" %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
    <h1>Page introuvable</h1>
    <a href="{{ path('site_index') }}" class="btn btn-primary">Retour a l'accueil</a>
{% endblock %}