{% extends "site/layout.html.twig" %}

{% block title %}Une erreur et survenue{% endblock %}

{% block content %}
    <h1>Une erreur et survenue</h1>
    <a href="{{ path('site_index') }}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}

